# Auto Save files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Depend
*.d

# Others
*.log
*.tlog
*.pdb
*.ilk
*.idb
*.exp
*.lastbuildstate
*.metagen
*.layout
*.depend
*.sdf
*.suo
*.cbp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.dir
*.in
*.deps
*.dirstamp
*.opensdf
*.codelite

bin
lib
memLost.txt
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
ar-lib
config.status
libtool
depcomp
install_manifest.txt